## data ..............................

# flat files
*.*sv


# Office docs
*.xls*
*.doc*
*.ppt*
*.numbers
*.pages
*.key
*.pdf


# archives
*.tar*
*.tgz
*.zip
*.bz2
*.7z


# basic databases: sqlite, access, redis, hdf5
*.db
*.mdb
*.rdb
*.h5


## Python related ......................

# iPython notebooks
.ipynb_checkpoints/*

# Python builds
*.pyc
*.egg*
*.pickle
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg


# Install logs
pip-log.txt
# unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# PyDev (Eclipse)
.project
.pydevproject

# PyCharm IDE
.idea/*



## R related ...........................
.RData
.Rhistory


## LaTeX files .........................
*.log
*.aux
*.tex


## misc ................................

# OSX
*.asc
.DS_Store
*.names

# Dev configs
dev.yaml

# C extensions
*.so
