.Rproj.user/
.git/

data/*.xlsx
data/*.rds
data/*.csv

stan_models/*
precompute/pnbd_fixed/*.rds
precompute/pnbd_fixed2/*.rds
precompute/pnbd_fixed3/*.rds

*_cache/*
*_files/*

*.R
*.Rmd
*.html
*.Rproj


