iframe {
    display: block;
    background: #fff;
    border: none;
    height: 100vh;
    width: 100vw;
}

html.sightlydim .backgrounds {
   -webkit-filter: blur(2px) saturate(.6) brightness(.7);
   -moz-filter: blur(2px) saturate(.8) brightness(.8);
   -o-filter: blur(2px) saturate(.8) brightness(.8);
   -ms-filter: blur(2px) saturate(.8) brightness(.8);
   filter: blur(2px) saturate(.8) brightness(.8);
}

html.dim .backgrounds {
   -webkit-filter: blur(3px) saturate(.4) brightness(.7);
   -moz-filter: blur(3px) saturate(.6) brightness(.8);
   -o-filter: blur(3px) saturate(.6) brightness(.8);
   -ms-filter: blur(3px) saturate(.6) brightness(.8);
   filter: blur(3px) saturate(.6) brightness(.8);
}

html.extradim .backgrounds {
   -webkit-filter: blur(4px) saturate(.4) brightness(.5);
   -moz-filter: blur(4px) saturate(.6) brightness(.6);
   -o-filter: blur(4px) saturate(.6) brightness(.6);
   -ms-filter: blur(4px) saturate(.6) brightness(.6);
   filter: blur(4px) saturate(.6) brightness(.6);
}

html.img-center div.slide-background.present {
    background-position: center;
}

.reveal section img.bio {
  width: 200px;
  border: 0;
  margin-left: 5px;
  margin-right: 5px;
  background: none;
  box-shadow: none;
}

#forkongithub a {
    background: #c11;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}

#forkongithub a:hover {
    background: #000;
    color: #fff;
}

#forkongithub a::before,
#forkongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#forkongithub a::after {
    bottom: 1px;
    top: auto;
}

@media screen and (min-width:800px) {
    #forkongithub {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;
    }
    #forkongithub a {
        width: 200px;
        position: absolute;
        top: 60px;
        right: -60px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    }
}
